<app-screen-container [title]="'My Profile'" [breadscrums]="breadscrums">
    <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>{{admin.firstName}} {{admin.lastName}}</mat-card-title>
          <mat-card-subtitle>{{admin.email}}</mat-card-subtitle>
          <img mat-card-sm-image src={{admin.userImg}} appearance="fill"alt="Photo of a Shiba Inu">
        </mat-card-title-group>
        <mat-card-content>
          <p>Social Id: {{admin.socialId}}</p>
          <p>Phone: {{admin.phone}}</p>
          <p>Role: {{admin.role}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="updateProfileAdmin()"><mat-icon aria-label="Edit">edit
          </mat-icon></button>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
</app-screen-container> 
